#home_button{
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 1.2em;
}

#home_user{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: -8%;
    transform: rotate(-60deg);
}
#user{
    color: rgb(37 99 235) ;
}
#github{
    top: 20%;
    left: 10%;
    color: white;
}
#linkeldin{
    bottom: -10%;
    right: 50%;
    color: rgb(59 130 246);
}
#facebook{
    bottom: 20%;
    left: 10%;
    color: rgb(37 99 235);
}
#twitter{
    top: -5%;
    right: 20%;
    color: rgb(29 78 216 );
}
#whatsapp{
    right: 50%;
    color:  rgb(22 163 74);
}
#code{
    color: yellow;
}