#home_button{
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 1.2em;
}
#home_user{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    float: right;
    margin-top: -8%;
    transform: rotate(-60deg);
}
#user{
    color: rgb(37 99 235) ;
}
#github{
    top: 20%;
    left: 10%;
    color: white;
}
#linkeldin{
    bottom: -10%;
    right: 50%;
    color: rgb(59 130 246);
}
#facebook{
    bottom: 20%;
    left: 10%;
    color: rgb(37 99 235);
}
#twitter{
    top: -5%;
    right: 20%;
    color: rgb(29 78 216 );
}
#whatsapp{
    right: 50%;
    color:  rgb(22 163 74);
}
#code{
    color: yellow;
}
#main{
    height: 85vh;
    margin-top: 0.5rem;
    border-radius: 1rem;
    border-bottom: none;
    box-shadow: inset 3px 3px 4px rgba(70, 64, 64, 0.514),inset -3px -3px 7px rgb(114, 112, 112);
}
#intro{
    height: 60px;
    border-radius: 1rem;
    background-color: rgba(113, 121, 136, 0.322);
}
footer{
    box-shadow: inset 3px 3px 4px rgba(70, 64, 64, 0.514),inset -3px -3px 7px rgb(114, 112, 112);
    border-radius: 0.75rem;
}